.ulTabs {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;  
}

.tabs {
  flex-basis: 100%;
  max-width: 100%;
}

.productInfoTabs {
  margin: 50px;
  padding-inline-start: 0px; 
}

.reacttab {
  display: inline-block;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  width: 33.3333333333%;
  height: 70px;
  list-style: none;
  border: 1px solid #3c3e43;
}
